# MySQL
MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_DATABASE=kumon_db
MYSQL_USER=kumon_user
MYSQL_PASSWORD=change_me_user_password

# API Database Connection
DB_HOST=mysql
DB_USER=kumon_user
DB_PASSWORD=change_me_user_password
DB_NAME=kumon_db
DB_PORT=3306

# phpMyAdmin
PMA_HOST=mysql
PMA_PORT=3306
PMA_USER=root
PMA_PASSWORD=change_me_root_password
